<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <a mat-button routerLink="/home"> Home</a>
        <a mat-button routerLink="/products"> Products</a>
        <a mat-button routerLink="/contact"> Contact</a>
      </nav>
      <a [routerLink]="['order']" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
        <mat-icon>
          shopping_cart
        </mat-icon>
        Cart
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
