<div class= "container">
  <h1>Tienda de platzi</h1>
  <input type="text" [(ngModel)]="title">
  {{title}}

  <span [ngSwitch]="title">
    <p *ngSwitchCase="'nicolas'">
      Este es nicolas
    </p>
    <p *ngSwitchCase="'julian'">
      este es julian
    </p>
    <p *ngSwitchDefault>
      np hay match
    </p>
  </span>

  <div class="product">
    <app-product
      *ngFor="let product of products"
      (productClicked)="clickProduct($event)"
      [product]="product">
    </app-product>
  </div>
</div>

