<div class="row">
  <div class="col-xs">
    <mat-card class="progress-bar">
      Process
      <div>
        <mat-progress-bar mode="buffer" [bufferValue]= "progress1"></mat-progress-bar>
      </div>
      <div>
        <mat-progress-bar mode="buffer" [bufferValue]= "progress2"></mat-progress-bar>
      </div>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-xs">
    <app-increasing (outputValue)=" progress1 = $event " [progress]= "progress1"></app-increasing>
  </div>
</div>
<div class="row">
  <div class="col-xs">
    <app-increasing (outputValue)=" progress2 = $event " [progress]= "progress2"></app-increasing>

  </div>
</div>
